<footer class="f-info">
    <div class="social-info mt-2">
        <a><i class="fa-brands fa-facebook"></i></a>
        <a><i class="fa-brands fa-square-instagram"></i></a>
        <a><i class="fa-brands fa-linkedin"></i></a>

    </div>
    <div class="company-info">
        <p> &copy;WanderLust Private Limited</p>
    </div>
    <div class="privacy-info">
        <a href="#">Privacy</a>
        <a href="#">Terms</a>
    </div>


</footer>